ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 .wsite-form-field input[type='text'], .wsite-form-field input[type='email'], .wsite-form-field textarea, .wsite-form-field select, .wsite-form-field input[type='radio'], .wsite-form-field input[type='checkbox'], .wsite-com-product-option-groups input[type='text'], .wsite-com-product-option-groups input[type='email'], .wsite-com-product-option-groups textarea, .wsite-com-product-option-groups select, .wsite-com-product-option-groups input[type='radio'], .wsite-com-product-option-groups input[type='checkbox'] { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-shadow: none; }
 textarea { resize: none; }
 @font-face { font-family: 'Unite'; src: url('theme/fonts/Unite_500.otf?1668253662') format('opentype'); font-weight: 500; font-style: normal; }
 @font-face { font-family: 'Unite'; src: url('theme/fonts/Unite_500_it.otf?1668253662') format('opentype'); font-weight: 500; font-style: italic; }
 @font-face { font-family: 'Unite'; src: url('theme/fonts/Unite_700.otf?1668253662') format('opentype'); font-weight: 700; }
 html { height: 100%; }
 body { width: 100%; height: 100%; background: #ffffff; color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
 a { color: inherit; text-decoration: none; }
 a img, a:hover img { border: none; }
 b, strong { font-weight: bold; }
 h2 { color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 1.1em; letter-spacing: 0.03em; margin: 0 auto 20px; }
 div.paragraph { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; margin: 0 auto 30px; }
 p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; margin: 0 auto 30px; }
 div.paragraph a[href] { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 p a[href] { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 div.paragraph a[href]:hover { opacity: 0.4; }
 p a[href]:hover { opacity: 0.4; }
 blockquote { position: relative; display: block; padding: 1.5em 2.5em; background: rgba(225,228,230,0.5); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; text-align: left; margin: 0 auto 30px; }
 blockquote:before { position: absolute; content: '\201C'; top: 0.75em; left: 0.5em; font-size: 2em; line-height: 1; font-weight: bold; }
 .wsite-background, .wsite-header-section { background-size: cover; }
 .banner-wrap { position: relative; height: 100%; background: rgba(0,0,0,0.4); color: #ffffff; }
 .banner-wrap .container { max-width: 1366px; padding: 60px 40px; }
 .banner-wrap .banner { position: relative; text-align: center; }
 .banner-wrap h2 { color: inherit; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 80px; font-weight: 100; line-height: 1.25; letter-spacing: 0.05em; margin: 15px auto; }
 .banner-wrap div.paragraph { color: inherit; font-family: "Unite", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap p { color: inherit; font-family: "Unite", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap div.paragraph a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .banner-wrap p a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .container, .wsite-footer { position: relative; width: 100%; margin: 0 auto; box-sizing: border-box; }
 .main-wrap { width: 100%; background: #ffffff; }
 .main-wrap .wsite-section-wrap:nth-child(even) { -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -ms-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); }
 .main-wrap .container { padding: 60px 40px; max-width: 1366px; }
 body:not(.splash-page).full-width-off { background-color: #f2f2f2; }
 body:not(.splash-page).full-width-off .wrapper, body:not(.splash-page).full-width-off .unite-header { max-width: 1200px; margin: 0 auto; }
 body:not(.splash-page).full-width-off .wrapper { min-height: 100vh; background: #ffffff; }
 .footer-wrap { width: 100%; font-size: 14px; border-top: 1px solid rgba(0,0,0,0.1); }
 .footer-wrap .wsite-footer { max-width: 1366px; padding: 60px 40px; }
 .footer-wrap h2, .footer-wrap div.paragraph, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2, .footer-wrap p, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2 { font-size: 20px; }
 .footer-wrap div.paragraph { font-size: 14px; }
 .footer-wrap p { font-size: 14px; }
 .footer-wrap blockquote { font-size: 14px; background: transparent; padding: 0 0 0 1em; }
 .footer-wrap blockquote:before { top: 0; left: 0; font-size: 1.5em; }
 .unite-header { position: relative; top: 0; z-index: 12; width: 100%; max-width: 100%; padding: 20px 40px; color: #000000; background: #ffffff; box-sizing: border-box; -webkit-transition: padding 240ms ease, min-height 240ms ease; -moz-transition: padding 240ms ease, min-height 240ms ease; -ms-transition: padding 240ms ease, min-height 240ms ease; transition: padding 240ms ease, min-height 240ms ease; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
 .unite-header .container { display: table; table-layout: fixed; overflow-y: hidden; width: 100%; max-height: 80px; min-height: 80px; }
 .unite-header .hamburger { display: none; }
 body.sticky-nav-on .unite-header, body.splash-page .unite-header { position: fixed; top: 0; }
 body.sticky-nav-on.collapse .unite-header, body.splash-page.collapse .unite-header { position: fixed; color: #000000; background: #ffffff; border-bottom: 1px solid rgba(0,0,0,0.05); padding: 5px 40px; }
 body.sticky-nav-on.collapse .unite-header .container, body.splash-page.collapse .unite-header .container { min-height: 50px; }
 body.sticky-nav-on.collapse .unite-header .logo #wsite-title, body.splash-page.collapse .unite-header .logo #wsite-title { font-size: 22px; }
 body.sticky-nav-on.collapse .unite-header .logo img, body.sticky-nav-on.collapse .unite-header .logo .wsite-logo, body.splash-page.collapse .unite-header .logo img, body.splash-page.collapse .unite-header .logo .wsite-logo { max-height: 50px; }
 body.sticky-nav-on.wsite-checkout-page .unite-header, body.sticky-nav-on.wsite-native-mobile-editor .unite-header, body.splash-page.wsite-checkout-page .unite-header, body.splash-page.wsite-native-mobile-editor .unite-header { position: absolute !important; }
 body.splash-page .unite-header { background: transparent; color: #ffffff; }
 body.splash-page .unite-header .nav li.active > a:after { background-color: rgba(255,255,255,0.6); }
 body.splash-page .unite-header .hamburger span, body.splash-page .unite-header .hamburger span:before, body.splash-page .unite-header .hamburger span:after { background: #ffffff; }
 .unite-header .logo { width: 25%; text-align: left; display: table-cell; vertical-align: middle; max-height: 80px; overflow: hidden; }
 .unite-header .logo * { display: block; margin: auto; }
 .unite-header .logo a { margin-right: 30px; }
 .unite-header .logo a:hover { opacity: 0.6; background: transparent; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; transition: opacity 200ms ease; }
 .unite-header .logo #wsite-title { font-family: "Unite", sans-serif; font-weight: 500; line-height: 1; text-transform: uppercase; letter-spacing: 0.08em; }
 .unite-header .logo img { overflow: hidden; max-width: 100%; max-height: 70px; }
 .unite-header .logo .wsite-logo { overflow: hidden; max-width: 100%; max-height: 70px; }
 .nav { display: table-cell; vertical-align: middle; }
 .nav li { display: inline-block; margin: 5px 0; }
 .nav a { display: block; padding: 10px 20px; font-family: "Unite", sans-serif; font-size: 14px; font-weight: 500; line-height: 1; letter-spacing: 0.05em; text-transform: uppercase; }
 .nav a:after { content: ''; position: absolute; display: inline-block; overflow: hidden; height: 1px; width: 0; left: 15px; bottom: 5px; background: transparent; -webkit-transition: width 280ms ease-in-out 400ms; -moz-transition: width 280ms ease-in-out 400ms; -ms-transition: width 280ms ease-in-out 400ms; transition: width 280ms ease-in-out 400ms; }
 .nav a:hover { opacity: 0.6; background: transparent; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; transition: opacity 200ms ease; }
 .nav li.active > a:after { background: rgba(0,0,0,0.4); width: calc(100% - 30px); }
 .nav #wsite-nav-cart-a { padding-right: 0; }
 .desktop-nav { width: 50%; text-align: center; }
 .mobile-nav { display: none; }
 .membership-cart { width: 25%; text-align: right; }
 #wsite-menus > .wsite-menu-wrap > .wsite-menu .wsite-menu { margin: 0 -1px; }
 #wsite-menus .wsite-menu { position: relative; background: #ffffff; -webkit-box-shadow: inset 0px 0px 0px 1px #E1E4E6; -moz-box-shadow: inset 0px 0px 0px 1px #E1E4E6; -ms-box-shadow: inset 0px 0px 0px 1px #E1E4E6; box-shadow: inset 0px 0px 0px 1px #E1E4E6; }
 #wsite-menus .wsite-menu li a { background: transparent; color: #000000; font-family: "Unite", sans-serif; font-size: 12px; font-weight: normal; line-height: normal; text-transform: uppercase; letter-spacing: 0.05em; border: none; }
 #wsite-menus .wsite-menu li a:hover { color: rgba(0,0,0,0.65); background: none; }
 #wsite-menus .wsite-menu-arrow { display: none; }
 .wsite-header-section, .banner-wrap.wsite-background { background: url(theme/images/default-bg.jpg?1668253662) no-repeat center center; background-size: cover; }
 .header-page .wsite-header-section { height: 600px; }
 body.sticky-nav-on .wsite-header-section { height: 720px; }
 body.sticky-nav-on:not(.splash-page) .banner-wrap .container { padding: 180px 40px 60px; }
 body.sticky-nav-on.no-header-page .main-wrap { padding-top: 120px; }
 body:not(.splash-page):not(.wsite-editor) .nav-wrap { opacity: 0; -webkit-transition: opacity 240ms ease-in 300ms; -moz-transition: opacity 240ms ease-in 300ms; -ms-transition: opacity 240ms ease-in 300ms; transition: opacity 240ms ease-in 300ms; }
 body:not(.splash-page):not(.wsite-editor).fade-in .nav-wrap { opacity: 1; }
 .splash-page .wsite-header-section { height: 100vh !important; }
 .splash-page .footer-wrap, .splash-page .main-wrap { display: none; }
 .splash-page .logo #wsite-title { font-family: "Unite", sans-serif; font-size: 70px !important; font-weight: 500; line-height: 1; text-transform: uppercase; letter-spacing: 0.08em; }
 body.splash-page:not(.wsite-editor) .desktop-nav { opacity: 0; -webkit-transition: opacity 300ms ease-in-out 1200ms; -moz-transition: opacity 300ms ease-in-out 1200ms; -ms-transition: opacity 300ms ease-in-out 1200ms; transition: opacity 300ms ease-in-out 1200ms; }
 body.splash-page:not(.wsite-editor) .banner .container { position: relative; opacity: 0; -webkit-transform: scale(.8); -moz-transform: scale(.8); -ms-transform: scale(.8); transform: scale(.8); -webkit-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; -moz-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; -ms-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; }
 body.splash-page:not(.wsite-editor).fade-in .banner .container, body.splash-page:not(.wsite-editor).fade-in .desktop-nav { opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { color: rgba(0,0,0,0.4); }
 .wsite-form-input, .wsite-search-element-input, .form-select, .wsite-form-field select, .wsite-com-product-option-groups select, .form-radio-container, input[type='radio'], input[type='checkbox'] { color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1; border-radius: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; transition: all 300ms ease-in; }
 .wsite-form-input, .wsite-search-element-input, .form-select, .wsite-form-field select, .wsite-com-product-option-groups select { height: auto; max-width: 370px; padding: 10px 20px !important; margin-bottom: 10px; background: transparent; border: 1px solid rgba(0,0,0,0.2); }
 .wsite-form-input:hover, .wsite-search-element-input:hover, .form-select:hover, .wsite-form-field select:hover, .wsite-com-product-option-groups select:hover { border-color: #000000; }
 .wsite-form-input:focus, .wsite-form-input--focus, .wsite-search-element-input:focus, .form-select:focus, .wsite-form-field select:focus, .wsite-com-product-option-groups select:focus { border-bottom: 1px solid #000000; }
 .form-select, .wsite-form-field select, .wsite-com-product-option-groups select { text-indent: 0.01px; text-overflow: ''; height: 40px; background: transparent url(theme/images/select-dropdown.png?1668253662) 97% center no-repeat; }
 .wsite-form-field input[type='radio'], .wsite-form-field input[type='checkbox'], .wsite-com-product-option-groups input[type='radio'], .wsite-com-product-option-groups input[type='checkbox'] { width: 20px; height: 20px; border: 1px solid rgba(0,0,0,0.3) !important; }
 .wsite-form-field input[type='radio']:hover, .wsite-form-field input[type='radio']:checked, .wsite-form-field input[type='checkbox']:hover, .wsite-form-field input[type='checkbox']:checked, .wsite-com-product-option-groups input[type='radio']:hover, .wsite-com-product-option-groups input[type='radio']:checked, .wsite-com-product-option-groups input[type='checkbox']:hover, .wsite-com-product-option-groups input[type='checkbox']:checked { border-color: #000000 !important; }
 .wsite-form-field input[type='radio'], .wsite-com-product-option-groups input[type='radio'] { border-radius: 100%; }
 .wsite-form-field input[type='radio']:after, .wsite-com-product-option-groups input[type='radio']:after { display: block; border-radius: 100%; box-sizing: border-box; content: ''; }
 .wsite-form-field input[type='radio']:checked:after, .wsite-com-product-option-groups input[type='radio']:checked:after { background: #000000; border: 4px solid #ffffff; width: 18px; height: 18px; }
 .wsite-form-field input[type='checkbox']:after, .wsite-com-product-option-groups input[type='checkbox']:after { position: relative; top: 2px; left: 6px; width: 4px; height: 8px; border: solid transparent; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
 .wsite-form-field input[type='checkbox']:checked, .wsite-com-product-option-groups input[type='checkbox']:checked { background: #ffffff; }
 .wsite-form-field input[type='checkbox']:checked:after, .wsite-com-product-option-groups input[type='checkbox']:checked:after { display: block; border-color: #000000; content: ' '; }
 .wsite-search-element { margin-bottom: 10px; }
 .wsite-search-element .wsite-search-element-input { margin-bottom: 0; }
 .wsite-form-label { display: inline-block; padding: 0; color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-weight: 500; text-transform: uppercase; letter-spacing: 0.08em; line-height: 1; margin-bottom: 10px; }
 .wsite-form-sublabel { display: none; }
 .wsite-form-radio-container { margin-bottom: 15px; }
 .formlist, .wsite-editor .formlist { min-height: inherit; }
 .wsite-form-container .form-input-error { border: 1px solid red !important; }
 .form-field-error .wsite-form-radio-container { border: none; }
 .wsite-button { display: inline-block; height: auto; padding: 0; background-image: none !important; background-color: transparent; color: #000000 !important; background-color: #E1E4E6 !important; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
 .wsite-button:hover { background-color: #c5cbcf !important; }
 .wsite-button .wsite-button-inner { display: inline-block; height: auto; padding: 15px 32px; background: transparent; background-image: none !important; color: inherit; letter-spacing: 0.15em; font-family: "Unite", sans-serif; font-size: 11px; font-weight: 700; line-height: 1; text-transform: uppercase; }
 .wsite-button-large { color: #000000 !important; background-color: #ffffff !important; }
 .wsite-button-large:hover { background-color: rgba(255,255,255,0.4) !important; }
 .wsite-button-highlight { color: #ffffff !important; background-color: #000000 !important; }
 .wsite-button-highlight:hover { background-color: rgba(0,0,0,0.6) !important; }
 .wsite-button-highlight.wsite-button-large:not(.wsite-buy-button) { color: #ffffff !important; background-color: rgba(255,255,255,0.5) !important; }
 .wsite-button-highlight.wsite-button-large:not(.wsite-buy-button):hover { background-color: rgba(255,255,255,0.3) !important; }
 .wsite-checkout-payment-actions__form .wsite-checkout-payment-actions__submit { background-color: rgba(0,0,0,0.6) !important; }
 .wsite-social-item { display: inline-block; font-size: 20px; margin: 5px; color: #c5cbcf; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 .wsite-social-item:first-child { margin-left: 0; }
 .wsite-social-item:last-child { margin-right: 0; }
 .wsite-social-item:hover { color: #a9b2b8; }
 .imageGallery .galleryImageHolder .fullImageGalleryCaption .galleryCaptionHolderInnerBg, .imageGallery .galleryImageHolder .partialImageGalleryCaption .galleryCaptionHolderInnerBg { opacity: 1; top: 6px; left: 6px; width: calc(100% - 12px); height: calc(100% - 12px); background: rgba(255,255,255,0.6); -webkit-transition: all 260ms ease; -moz-transition: all 260ms ease; -ms-transition: all 260ms ease; transition: all 260ms ease; }
 .imageGallery .galleryImageHolder:hover .galleryCaptionHolderInnerBg { background: rgba(255,255,255,0.85); }
 .imageGallery .galleryImageHolder .galleryCaptionInnerText { color: #000000; margin: 20px auto; text-shadow: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0.06em; line-height: 1.15; }
 .wsite-image img { margin-bottom: 10px; }
 .fancybox-overlay { background: rgba(255,255,255,0.95); }
 .fancybox-skin { background: transparent !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; -ms-box-shadow: none !important; box-shadow: none !important; }
 .fancybox-title { color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: normal; }
 .fancybox-close, .fancybox-next span, .fancybox-prev span { background: none !important; width: auto; height: auto; }
 .fancybox-close:before, .fancybox-next span:before, .fancybox-prev span:before { color: #ffffff !important; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 45px; font-weight: 400; line-height: 0.75em; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 .fancybox-close:hover:before, .fancybox-next:hover span:before, .fancybox-prev:hover span:before { color: rgba(255,255,255,0.8) !important; }
 .fancybox-prev span:before { position: relative; left: -10px; content: '\3008'; }
 .fancybox-next span:before { position: relative; right: -10px; content: '\3009'; }
 .fancybox-close { top: 20px; right: 20px; }
 .fancybox-close:before { content: '\00D7'; }
 #wsite-com-store .wsite-com-category-subcategory-image-wrap { height: 100%; border: none; }
 #wsite-com-store .wsite-com-category-subcategory-name { top: 0; }
 #wsite-com-store .wsite-com-category-subcategory-name-bg { background-color: rgba(0,0,0,0.2); background-image: linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -ms-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -o-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); }
 #wsite-com-store .wsite-com-category-subcategory-name-text { position: absolute; bottom: 0; width: 100%; background: none; box-sizing: border-box; text-shadow: none; font-weight: 400; }
 #wsite-com-store #wsite-com-product-title { font-weight: inherit; }
 #wsite-com-store .wsite-com-category-subcategory-link .wsite-com-category-subcategory-image-wrap, #wsite-com-store .wsite-com-category-product-link .wsite-com-category-product-image-wrap, #wsite-com-store .wsite-com-category-product-link-featured .wsite-com-category-product-featured-image-wrap { opacity: 1; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 #wsite-com-store .wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-image-wrap, #wsite-com-store .wsite-com-category-product-link:hover .wsite-com-category-product-image-wrap, #wsite-com-store .wsite-com-category-product-link-featured:hover .wsite-com-category-product-featured-image-wrap { opacity: .7; }
 #wsite-com-store #wsite-com-hierarchy ul { font-size: 16px; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-link-unselected { color: #000000; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-link-unselected:hover { color: rgba(0,0,0,0.4); }
 .wsite-product { border-radius: 0; box-shadow: none; }
 h2#wsite-com-product-title { display: block; clear: both; font-size: 20px; font-weight: 400; }
 .wsite-com-product-title { font-weight: 400; }
 #wsite-com-breadcrumbs.wsite-com-product-breadcrumbs, #wsite-com-breadcrumbs.wsite-com-category-breadcrumbs { padding-bottom: 25px; }
 .wsite-com-category-product-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-featured-wrap, .wsite-com-category-subcategory-group .wsite-com-category-subcategory-wrap, #wsite-com-product-price-area, #wsite-com-product-price-area, #wsite-com-product-short-description .paragraph, .wsite-com-product-title { font-size: 14px; }
 #wsite-com-product-info { float: left; width: 46%; margin-left: 60px; }
 .wsite-product-button-wrap { display: block; text-align: left; }
 #wsite-mini-cart { border-radius: 0; border-color: #E1E4E6 !important; padding: 5px !important; margin-top: 3px; }
 #wsite-mini-cart:before, #wsite-mini-cart:after { display: none !important; }
 #wsite-mini-cart .wsite-product-image { padding: 10px; }
 #wsite-mini-cart .wsite-product-list .wsite-list-image-container { margin: 0; }
 #wsite-mini-cart .wsite-items-right { width: 30%; }
 #wsite-mini-cart .wsite-items-quantity { width: 10%; text-align: center; }
 #wsite-mini-cart .wsite-vertical-align { padding-top: 10px; padding-bottom: 10px; vertical-align: top; }
 #wsite-mini-cart .wsite-product-list .wsite-product-price, #wsite-mini-cart .wsite-items-quantity, #wsite-mini-cart .wsite-name-header, #wsite-mini-cart .wsite-subtotal-wrapper, #wsite-mini-cart .wsite-subtotal-wrapper * { color: #000000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 1.25; }
 #wsite-mini-cart .wsite-product-list .wsite-product-price { padding-right: 10px; }
 #wsite-mini-cart .wsite-product-option { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 500; }
 #wsite-mini-cart .wsite-subtotal-wrapper { vertical-align: middle; font-weight: 900; }
 #wsite-mini-cart .wsite-subtotal-wrapper span { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px !important; margin-right: 5px; font-weight: normal; }
 #wsite-mini-cart .wsite-subtotal-wrapper span.wsite-price { font-size: 14px !important; font-weight: 900; }
 #wsite-mini-cart .wsite-remove-button { background: none !important; height: auto; cursor: pointer; color: #DD5857; font-size: 18px; font-weight: 900; line-height: 14px; text-align: right; margin-top: 0; margin-right: 0; }
 #wsite-mini-cart .wsite-remove-button:before { content: 'x'; }
 .commerce-elements-wrapper { padding: 0; }
 .product-grid-layout--over .product-grid__overlay, .product-grid-layout--hover .product-grid__overlay { top: 6px; left: 6px; width: calc(100% - 12px); height: calc(100% - 12px); background: rgba(255,255,255,0.85); color: #000000; -webkit-transition: all 260ms ease; -moz-transition: all 260ms ease; -ms-transition: all 260ms ease; transition: all 260ms ease; }
 .product-grid-layout--over .product-grid__overlay .product-grid-reset, .product-grid-layout--over .product-grid__overlay .product-grid__sale, .product-grid-layout--hover .product-grid__overlay .product-grid-reset, .product-grid-layout--hover .product-grid__overlay .product-grid__sale { color: #000000; }
 #blogTable .blog-post .blog-header h2.blog-title { font-family: "Unite", sans-serif; font-size: 28px; font-weight: 300; text-transform: uppercase; letter-spacing: 0.015em; margin-bottom: 10px !important; }
 #blogTable .blog-post .blog-date, #blogTable .blog-post .blog-comments { float: left; color: rgba(0,0,0,0.6); font-size: 16px; }
 #blogTable .blog-post .blog-date { margin-right: 30px !important; }
 #blogTable .blog-post .blog-separator { margin: 0 auto 20px; border: none; }
 #blogTable .blog-post .blog-read-more { text-align: left; }
 #blogTable .blog-post .blog-content { margin-bottom: 40px; }
 #blogTable .blog-post .blog-content hr { margin: 0 auto; }
 #blogTable .blog-sidebar { width: 30%; }
 #blogTable .blog-sidebar .column-blog { width: 70%; max-width: 240px; }
 #blogTable .blog-sidebar h2 { font-family: "Unite", sans-serif; font-size: 14px; font-weight: 300; text-transform: uppercase; margin-bottom: 10px; }
 #blogTable .blog-comments-bottom { display: none; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blogCommentText div.paragraph, #blogTable #commentArea .blog-sidebar h2 { padding: 0; font-family: inherit; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blogCommentText p, #blogTable #commentArea .blog-sidebar h2 { padding: 0; font-family: inherit; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blog-sidebar h2 { font-family: "Unite", sans-serif; font-size: 14px; text-transform: uppercase; letter-spacing: 0.015em; }
 #blogTable .blogCommentWrap { padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05); background: none; }
 #blogTable .blogCommentWrap .blogCommentAuthor, #blogTable .blogCommentWrap .blogCommentHeading, #blogTable .blogCommentWrap .blogCommentHeadingInner { background: none !important; }
 #blogTable .blogCommentWrap .blogCommentAuthor { margin-bottom: 10px; }
 #blogTable .blogCommentWrap .blogCommentAuthor .name, #blogTable .blogCommentWrap .blogCommentAuthor .email, #blogTable .blogCommentWrap .blogCommentAuthor .link { color: #000000 !important; float: none !important; line-height: 1; }
 #blogTable .blogCommentWrap .blogCommentAuthor .link { display: inline-block; font-size: 0 !important; }
 #blogTable .blogCommentWrap .blogCommentHeading { padding: 0; margin-bottom: 20px; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentHeadingInner { height: auto; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentAuthor, #blogTable .blogCommentWrap .blogCommentHeading .blogCommentDate { float: none !important; text-align: left; height: auto; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1; letter-spacing: 0.03em; text-transform: uppercase; padding: 0; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentDate { color: #333; }
 #blogTable .blogCommentWrap .blogCommentText { padding: 0; }
 #blogTable .blogCommentWrap .blogCommentText div.paragraph { color: #000000; font-size: 12px; }
 #blogTable .blogCommentWrap .blogCommentText p { color: #000000; font-size: 12px; }
 .blogCommentReplyWrapper iframe { height: 560px !important; }
 #commentPostDiv .field input[type=text], #commentPostDiv .field textarea { height: auto; padding: 8px 12px; color: inherit; background: transparent; border: 1px solid rgba(0,0,0,0.1); box-sizing: border-box; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 #commentPostDiv .field input[type=text]:hover, #commentPostDiv .field textarea:hover { border-color: #000000 !important; }
 #commentPostDiv .field input[type=text]:focus, #commentPostDiv .field textarea:focus { border-bottom: 1px solid #000000 !important; }
 .blogCommentSubreplyWrapper div.iframeWrapper { background: none; border: none; }
 .blog-button { height: auto; padding: 10px 20px; background-image: none; background-color: rgba(0,0,0,0.6); color: #ffffff; font-family: "Unite", sans-serif; font-size: 12px; line-height: 1; text-transform: uppercase; letter-spacing: 0.02em; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 .blog-button:hover { background-color: rgba(0,0,0,0.2); }
 .blog-button span { background: none; }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
.desktop-nav {width: 100%;}
